<header class="header-area header-style-1 header-style-5 header-height-2">
	<div class="mobile-promotion">
		<span>Grand opening, <strong>up to 15%</strong> off all items. Only <strong>3 days</strong> left</span>
	</div>
	<div class="header-top header-top-ptb-1 d-none d-lg-block">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-9 col-lg-4">
					<div class="header-info">
						<ul>
							<li><a href="html/nest/demo/page-about.html">About Us</a></li>
							<li><a href="{{ path('spygar_store_user_account') }}">My Account</a></li>
							<li><a href="{{ path('spygar_store_wishlist') }}">Wishlist</a></li>
							<li><a href="html/nest/demo/shop-order.html">Order Tracking</a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4">
					<div class="header-info header-info-right">
						<ul>
							<li>Need help? Call Us: <strong class="text-brand"> + 1800 900</strong></li>
							<li>
								<a class="language-dropdown-active" href="#">English <i
										class="fi-rs-angle-small-down"></i></a>
								<ul class="language-dropdown">
									<li>
										<a href="#"><img src="{{ asset('bundles/store/imgs/theme/flag-fr.png') }}"
												alt="" />Français</a>
									</li>
									<li>
										<a href="#"><img src="{{ asset('bundles/store/imgs/theme/flag-dt.png') }}"
												alt="" />Deutsch</a>
									</li>
									<li>
										<a href="#"><img src="{{ asset('bundles/store/imgs/theme/flag-ru.png') }}"
												alt="" />Pусский</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="language-dropdown-active" href="#">USD <i
										class="fi-rs-angle-small-down"></i></a>
								<ul class="language-dropdown">
									<li>
										<a href="#"><img src="{{ asset('bundles/store/imgs/theme/flag-fr.png') }}"
												alt="" />INR</a>
									</li>
									<li>
										<a href="#"><img src="{{ asset('bundles/store/imgs/theme/flag-dt.png') }}"
												alt="" />MBP</a>
									</li>
									<li>
										<a href="#"><img src="{{ asset('bundles/store/imgs/theme/flag-ru.png') }}"
												alt="" />EU</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-middle header-middle-ptb-1 d-none d-lg-block">
		<div class="container">
			<div class="header-wrap">
				<div class="logo logo-width-1">
					<a href="{{ path('spygar_store_shop') }}">
						<img src="{{ asset('bundles/store/imgs/theme/logo.svg') }}" alt="logo" /></a>
				</div>
				<div class="header-right">
					<div class="search-style-2">
						<form action="#">
							<select class="select-active">
								<option>All Categories</option>
								<option>Milks and Dairies</option>
								<option>Wines & Alcohol</option>
								<option>Clothing & Beauty</option>
								<option>Pet Foods & Toy</option>
								<option>Fast food</option>
								<option>Baking material</option>
								<option>Vegetables</option>
								<option>Fresh Seafood</option>
								<option>Noodles & Rice</option>
								<option>Ice cream</option>
							</select>
							<input type="text" placeholder="Search for items..." />
						</form>
					</div>
					<div class="header-action-right">
						<div class="header-action-2">
							<div class="search-location">
								<form action="#">
									<select class="select-active">
										<option>Your Location</option>
										<option>Alabama</option>
										<option>Alaska</option>
										<option>Arizona</option>
										<option>Delaware</option>
										<option>Florida</option>
										<option>Georgia</option>
										<option>Hawaii</option>
										<option>Indiana</option>
										<option>Maryland</option>
										<option>Nevada</option>
										<option>New Jersey</option>
										<option>New Mexico</option>
										<option>New York</option>
									</select>
								</form>
							</div>
							<div class="header-action-icon-2">
								<a href="{{ path('spygar_store_wishlist') }}">
									<img class="svgInject" alt="Nest"
										src="{{ asset('bundles/store/imgs/theme/icons/icon-heart.svg') }}" />
									<span class="pro-count blue">6</span>
								</a>
								<a href="{{ path('spygar_store_wishlist') }}"><span class="lable">Wishlist</span></a>
							</div>
							<div class="header-action-icon-2">
								<a class="mini-cart-icon" href="{{ path('spygar_store_cart') }}">
									<img alt="Nest" src="{{ asset('bundles/store/imgs/theme/icons/icon-cart.svg') }}" />
									<span class="pro-count blue">2</span>
								</a>
								<a href="{{ path('spygar_store_cart') }}"><span class="lable">Cart</span></a>
								<div class="cart-dropdown-wrap cart-dropdown-hm2">
									<ul>
										<li>
											<div class="shopping-cart-img">
												<a href="html/nest/demo/shop-product-right.html">
													<img alt="Nest"
														src="{{ asset('bundles/store/imgs/shop/thumbnail-3.jpg') }}" /></a>
											</div>
											<div class="shopping-cart-title">
												<h4><a href="html/nest/demo/shop-product-right.html">Daisy Casual
														Bag</a></h4>
												<h4><span>1 × </span>$800.00</h4>
											</div>
											<div class="shopping-cart-delete">
												<a href="#"><i class="fi-rs-cross-small"></i></a>
											</div>
										</li>
										<li>
											<div class="shopping-cart-img">
												<a href="html/nest/demo/shop-product-right.html"><img alt="Nest"
														src="{{ asset('bundles/store/imgs/shop/thumbnail-2.jpg') }}" /></a>
											</div>
											<div class="shopping-cart-title">
												<h4><a href="html/nest/demo/shop-product-right.html">Corduroy Shirts</a>
												</h4>
												<h4><span>1 × </span>$3200.00</h4>
											</div>
											<div class="shopping-cart-delete">
												<a href="#"><i class="fi-rs-cross-small"></i></a>
											</div>
										</li>
									</ul>
									<div class="shopping-cart-footer">
										<div class="shopping-cart-total">
											<h4>Total <span>$4000.00</span></h4>
										</div>
										<div class="shopping-cart-button">
											<a href="{{ path('spygar_store_cart') }}" class="outline">View cart</a>
											<a href="{{ path('spygar_store_checkout') }}">Checkout</a>
										</div>
									</div>
								</div>
							</div>
							<div class="header-action-icon-2">
								<a href="{{ path('spygar_store_user_account') }}">
									<img class="svgInject" alt="Nest"
										src="{{ asset('bundles/store/imgs/theme/icons/icon-user.svg') }}" />
								</a>
								<a href="{{ path('spygar_store_user_account') }}"><span class="lable ml-0">Account</span></a>
								<div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
									<ul>
										<li>
											<a href="{{ path('spygar_store_user_account') }}"><i
													class="fi fi-rs-user mr-10"></i>My Account</a>
										</li>
										<li>
											<a href="{{ path('spygar_store_user_account') }}"><i
													class="fi fi-rs-location-alt mr-10"></i>Order Tracking</a>
										</li>
										<li>
											<a href="{{ path('spygar_store_user_account') }}"><i
													class="fi fi-rs-label mr-10"></i>My Voucher</a>
										</li>
										<li>
											<a href="{{ path('spygar_store_wishlist') }}"><i
													class="fi fi-rs-heart mr-10"></i>My Wishlist</a>
										</li>
										<li>
											<a href="{{ path('spygar_store_user_account') }}"><i
													class="fi fi-rs-settings-sliders mr-10"></i>Setting</a>
										</li>
										<li>
											<a href="html/nest/demo/page-login.html"><i
													class="fi fi-rs-sign-out mr-10"></i>Sign out</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-bottom header-bottom-bg-color sticky-bar">
		<div class="container">
			<div class="header-wrap header-space-between position-relative">
				<div class="logo logo-width-1 d-block d-lg-none">
					<a href="{{ path('spygar_store_shop') }}">
						<img src="{{ asset('bundles/store/imgs/theme/logo.svg') }}"
							alt="logo" /></a>
				</div>
				<div class="header-nav d-none d-lg-flex">
					<div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
						<nav>
							<ul>
								<li class="position-static">
									<a href="#">Magento2<i class="fi-rs-angle-down"></i></a>
									<ul class="mega-menu">
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Fruit & Vegetables</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Meat & Poultry</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Fresh
														Vegetables</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Herbs &
														Seasonings</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Cuts & Sprouts</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Exotic Fruits &
														Veggies</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Packaged
														Produce</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Breakfast & Dairy</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Milk & Flavoured
														Milk</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Butter and
														Margarine</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Eggs
														Substitutes</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Marmalades</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Sour Cream</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Cheese</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Meat & Seafood</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Breakfast
														Sausage</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Dinner Sausage</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Chicken</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Sliced Deli
														Meat</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Wild Caught
														Fillets</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Crab and
														Shellfish</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-34">
											<div class="menu-banner-wrap">
												<a href="html/nest/demo/shop-product-right.html"><img
														src="{{ asset('bundles/store/imgs/banner/banner-menu.png') }}"
														alt="Nest" /></a>
												<div class="menu-banner-content">
													<h4>Hot deals</h4>
													<h3>
														Don't miss<br />
														Trending
													</h3>
													<div class="menu-banner-price">
														<span class="new-price text-success">Save to 50%</span>
													</div>
													<div class="menu-banner-btn">
														<a href="html/nest/demo/shop-product-right.html">Shop now</a>
													</div>
												</div>
												<div class="menu-banner-discount">
													<h3>
														<span>25%</span>
														off
													</h3>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li class="position-static">
									<a href="#">Wordpress<i class="fi-rs-angle-down"></i></a>
									<ul class="mega-menu">
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Fruit & Vegetables</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Meat & Poultry</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Fresh
														Vegetables</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Herbs &
														Seasonings</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Cuts & Sprouts</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Exotic Fruits &
														Veggies</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Packaged
														Produce</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Breakfast & Dairy</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Milk & Flavoured
														Milk</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Butter and
														Margarine</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Eggs
														Substitutes</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Marmalades</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Sour Cream</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Cheese</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Meat & Seafood</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Breakfast
														Sausage</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Dinner Sausage</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Chicken</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Sliced Deli
														Meat</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Wild Caught
														Fillets</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Crab and
														Shellfish</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-34">
											<div class="menu-banner-wrap">
												<a href="html/nest/demo/shop-product-right.html"><img
														src="{{ asset('bundles/store/imgs/banner/banner-menu.png') }}"
														alt="Nest" /></a>
												<div class="menu-banner-content">
													<h4>Hot deals</h4>
													<h3>
														Don't miss<br />
														Trending
													</h3>
													<div class="menu-banner-price">
														<span class="new-price text-success">Save to 50%</span>
													</div>
													<div class="menu-banner-btn">
														<a href="html/nest/demo/shop-product-right.html">Shop now</a>
													</div>
												</div>
												<div class="menu-banner-discount">
													<h3>
														<span>25%</span>
														off
													</h3>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li class="position-static">
									<a href="#">Akeneo<i class="fi-rs-angle-down"></i></a>
									<ul class="mega-menu">
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Fruit & Vegetables</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Meat & Poultry</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Fresh
														Vegetables</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Herbs &
														Seasonings</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Cuts & Sprouts</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Exotic Fruits &
														Veggies</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Packaged
														Produce</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Breakfast & Dairy</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Milk & Flavoured
														Milk</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Butter and
														Margarine</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Eggs
														Substitutes</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Marmalades</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Sour Cream</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Cheese</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Meat & Seafood</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Breakfast
														Sausage</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Dinner Sausage</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Chicken</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Sliced Deli
														Meat</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Wild Caught
														Fillets</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Crab and
														Shellfish</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-34">
											<div class="menu-banner-wrap">
												<a href="html/nest/demo/shop-product-right.html"><img
														src="{{ asset('bundles/store/imgs/banner/banner-menu.png') }}"
														alt="Nest" /></a>
												<div class="menu-banner-content">
													<h4>Hot deals</h4>
													<h3>
														Don't miss<br />
														Trending
													</h3>
													<div class="menu-banner-price">
														<span class="new-price text-success">Save to 50%</span>
													</div>
													<div class="menu-banner-btn">
														<a href="html/nest/demo/shop-product-right.html">Shop now</a>
													</div>
												</div>
												<div class="menu-banner-discount">
													<h3>
														<span>25%</span>
														off
													</h3>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li class="position-static">
									<a href="#">Pimcore<i class="fi-rs-angle-down"></i></a>
									<ul class="mega-menu">
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Fruit & Vegetables</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Meat & Poultry</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Fresh
														Vegetables</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Herbs &
														Seasonings</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Cuts & Sprouts</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Exotic Fruits &
														Veggies</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Packaged
														Produce</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Breakfast & Dairy</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Milk & Flavoured
														Milk</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Butter and
														Margarine</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Eggs
														Substitutes</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Marmalades</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Sour Cream</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Cheese</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Meat & Seafood</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Breakfast
														Sausage</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Dinner Sausage</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Chicken</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Sliced Deli
														Meat</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Wild Caught
														Fillets</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Crab and
														Shellfish</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-34">
											<div class="menu-banner-wrap">
												<a href="html/nest/demo/shop-product-right.html"><img
														src="{{ asset('bundles/store/imgs/banner/banner-menu.png') }}"
														alt="Nest" /></a>
												<div class="menu-banner-content">
													<h4>Hot deals</h4>
													<h3>
														Don't miss<br />
														Trending
													</h3>
													<div class="menu-banner-price">
														<span class="new-price text-success">Save to 50%</span>
													</div>
													<div class="menu-banner-btn">
														<a href="html/nest/demo/shop-product-right.html">Shop now</a>
													</div>
												</div>
												<div class="menu-banner-discount">
													<h3>
														<span>25%</span>
														off
													</h3>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li class="position-static">
									<a href="#">Shopware<i class="fi-rs-angle-down"></i></a>
									<ul class="mega-menu">
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Fruit & Vegetables</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Meat & Poultry</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Fresh
														Vegetables</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Herbs &
														Seasonings</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Cuts & Sprouts</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Exotic Fruits &
														Veggies</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Packaged
														Produce</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Breakfast & Dairy</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Milk & Flavoured
														Milk</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Butter and
														Margarine</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Eggs
														Substitutes</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Marmalades</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Sour Cream</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Cheese</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Meat & Seafood</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Breakfast
														Sausage</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Dinner Sausage</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Chicken</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Sliced Deli
														Meat</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Wild Caught
														Fillets</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Crab and
														Shellfish</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-34">
											<div class="menu-banner-wrap">
												<a href="html/nest/demo/shop-product-right.html"><img
														src="{{ asset('bundles/store/imgs/banner/banner-menu.png') }}"
														alt="Nest" /></a>
												<div class="menu-banner-content">
													<h4>Hot deals</h4>
													<h3>
														Don't miss<br />
														Trending
													</h3>
													<div class="menu-banner-price">
														<span class="new-price text-success">Save to 50%</span>
													</div>
													<div class="menu-banner-btn">
														<a href="html/nest/demo/shop-product-right.html">Shop now</a>
													</div>
												</div>
												<div class="menu-banner-discount">
													<h3>
														<span>25%</span>
														off
													</h3>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li class="position-static">
									<a href="#">Sylius<i class="fi-rs-angle-down"></i></a>
									<ul class="mega-menu">
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Fruit & Vegetables</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Meat & Poultry</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Fresh
														Vegetables</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Herbs &
														Seasonings</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Cuts & Sprouts</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Exotic Fruits &
														Veggies</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Packaged
														Produce</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Breakfast & Dairy</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Milk & Flavoured
														Milk</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Butter and
														Margarine</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Eggs
														Substitutes</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Marmalades</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Sour Cream</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Cheese</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-22">
											<a class="menu-title" href="#">Meat & Seafood</a>
											<ul>
												<li><a href="html/nest/demo/shop-product-right.html">Breakfast
														Sausage</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Dinner Sausage</a>
												</li>
												<li><a href="html/nest/demo/shop-product-right.html">Chicken</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Sliced Deli
														Meat</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Wild Caught
														Fillets</a></li>
												<li><a href="html/nest/demo/shop-product-right.html">Crab and
														Shellfish</a></li>
											</ul>
										</li>
										<li class="sub-mega-menu sub-mega-menu-width-34">
											<div class="menu-banner-wrap">
												<a href="html/nest/demo/shop-product-right.html"><img
														src="{{ asset('bundles/store/imgs/banner/banner-menu.png') }}"
														alt="Nest" /></a>
												<div class="menu-banner-content">
													<h4>Hot deals</h4>
													<h3>
														Don't miss<br />
														Trending
													</h3>
													<div class="menu-banner-price">
														<span class="new-price text-success">Save to 50%</span>
													</div>
													<div class="menu-banner-btn">
														<a href="html/nest/demo/shop-product-right.html">Shop now</a>
													</div>
												</div>
												<div class="menu-banner-discount">
													<h3>
														<span>25%</span>
														off
													</h3>
												</div>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="hotline d-none d-lg-flex">
					<img src="{{ asset('bundles/store/imgs/theme/icons/icon-headphone-white.svg') }}" alt="hotline" />
					<p>1900 - 888<span>24/7 Support Center</span></p>
				</div>
				<div class="header-action-icon-2 d-block d-lg-none">
					<div class="burger-icon burger-icon-white">
						<span class="burger-icon-top"></span>
						<span class="burger-icon-mid"></span>
						<span class="burger-icon-bottom"></span>
					</div>
				</div>
				<div class="header-action-right d-block d-lg-none">
					<div class="header-action-2">
						<div class="header-action-icon-2">
							<a href="{{ path('spygar_store_wishlist') }}">
								<img alt="Nest" src="{{ asset('bundle/store/imgs/theme/icons/icon-heart.svg') }}" />
								<span class="pro-count white">4</span>
							</a>
						</div>
						<div class="header-action-icon-2">
							<a class="mini-cart-icon" href="#">
								<img alt="Nest" src="{{ asset('bundle/store/imgs/theme/icons/icon-cart.svg') }}" />
								<span class="pro-count white">2</span>
							</a>
							<div class="cart-dropdown-wrap cart-dropdown-hm2">
								<ul>
									<li>
										<div class="shopping-cart-img">
											<a href="html/nest/demo/shop-product-right.html"><img alt="Nest"
													src="{{ asset('bundle/store/imgs/shop/thumbnail-3.jpg') }}" /></a>
										</div>
										<div class="shopping-cart-title">
											<h4><a href="html/nest/demo/shop-product-right.html">Plain Striola
													Shirts</a></h4>
											<h3><span>1 × </span>$800.00</h3>
										</div>
										<div class="shopping-cart-delete">
											<a href="#"><i class="fi-rs-cross-small"></i></a>
										</div>
									</li>
									<li>
										<div class="shopping-cart-img">
											<a href="html/nest/demo/shop-product-right.html"><img alt="Nest"
													src="{{ asset('bundle/store/imgs/shop/thumbnail-4.jpg') }}" /></a>
										</div>
										<div class="shopping-cart-title">
											<h4><a href="html/nest/demo/shop-product-right.html">Macbook Pro 2022</a>
											</h4>
											<h3><span>1 × </span>$3500.00</h3>
										</div>
										<div class="shopping-cart-delete">
											<a href="#"><i class="fi-rs-cross-small"></i></a>
										</div>
									</li>
								</ul>
								<div class="shopping-cart-footer">
									<div class="shopping-cart-total">
										<h4>Total <span>$383.00</span></h4>
									</div>
									<div class="shopping-cart-button">
										<a href="{{ path('spygar_store_cart') }}">View cart</a>
										<a href="{{ path('spygar_store_checkout') }}">Checkout</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style">
	<div class="mobile-header-wrapper-inner">
		<div class="mobile-header-top">
			<div class="mobile-header-logo">
				<a href="{{ path('spygar_store_shop') }}">
					<img src="{{ asset('bundles/store/imgs/theme/logo.svg') }}" alt="logo" />
				</a>
			</div>
			<div class="mobile-menu-close close-style-wrap close-style-position-inherit">
				<button class="close-style search-close">
					<i class="icon-top"></i>
					<i class="icon-bottom"></i>
				</button>
			</div>
		</div>
		<div class="mobile-header-content-area">
			<div class="mobile-search search-style-3 mobile-header-border">
				<form action="#">
					<input type="text" placeholder="Search for items…" />
					<button type="submit"><i class="fi-rs-search"></i></button>
				</form>
			</div>
			<div class="mobile-menu-wrap mobile-header-border">
				<!-- mobile menu start -->
				<nav>
					<ul class="mobile-menu font-heading">
						<li class="menu-item-has-children">
							<a href="{{ path('spygar_store_shop') }}">Home</a>
							<ul class="dropdown">
								<li><a href="{{ path('spygar_store_shop') }}">Home 1</a></li>
								<li><a href="html/nest/demo/index-2.html">Home 2</a></li>
								<li><a href="html/nest/demo/index-3.html">Home 3</a></li>
								<li><a href="html/nest/demo/index-4.html">Home 4</a></li>
								<li><a href="{{ path('spygar_store_shop') }}">Home 5</a></li>
								<li><a href="html/nest/demo/index-6.html">Home 6</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="html/nest/demo/shop-grid-right.html">shop</a>
							<ul class="dropdown">
								<li><a href="html/nest/demo/shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
								<li><a href="html/nest/demo/shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
								<li><a href="html/nest/demo/shop-list-right.html">Shop List – Right Sidebar</a></li>
								<li><a href="html/nest/demo/shop-list-left.html">Shop List – Left Sidebar</a></li>
								<li><a href="html/nest/demo/shop-fullwidth.html">Shop - Wide</a></li>
								<li class="menu-item-has-children">
									<a href="#">Single Product</a>
									<ul class="dropdown">
										<li><a href="html/nest/demo/shop-product-right.html">Product – Right Sidebar</a>
										</li>
										<li><a href="html/nest/demo/shop-product-left.html">Product – Left Sidebar</a>
										</li>
										<li><a href="html/nest/demo/shop-product-full.html">Product – No sidebar</a>
										</li>
										<li><a href="html/nest/demo/shop-product-vendor.html">Product – Vendor Infor</a>
										</li>
									</ul>
								</li>
								<li><a href="html/nest/demo/shop-filter.html">Shop – Filter</a></li>
								<li><a href="{{ path('spygar_store_wishlist') }}">Shop – Wishlist</a></li>
								<li><a href="{{ path('spygar_store_cart') }}">Shop – Cart</a></li>
								<li><a href="{{ path('spygar_store_checkout') }}">Shop – Checkout</a></li>
								<li><a href="html/nest/demo/shop-compare.html">Shop – Compare</a></li>
								<li class="menu-item-has-children">
									<a href="#">Shop Invoice</a>
									<ul class="dropdown">
										<li><a href="html/nest/demo/shop-invoice-1.html">Shop Invoice 1</a></li>
										<li><a href="html/nest/demo/shop-invoice-2.html">Shop Invoice 2</a></li>
										<li><a href="html/nest/demo/shop-invoice-3.html">Shop Invoice 3</a></li>
										<li><a href="html/nest/demo/shop-invoice-4.html">Shop Invoice 4</a></li>
										<li><a href="html/nest/demo/shop-invoice-5.html">Shop Invoice 5</a></li>
										<li><a href="html/nest/demo/shop-invoice-6.html">Shop Invoice 6</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#">Vendors</a>
							<ul class="dropdown">
								<li><a href="html/nest/demo/vendors-grid.html">Vendors Grid</a></li>
								<li><a href="html/nest/demo/vendors-list.html">Vendors List</a></li>
								<li><a href="html/nest/demo/vendor-details-1.html">Vendor Details 01</a></li>
								<li><a href="html/nest/demo/vendor-details-2.html">Vendor Details 02</a></li>
								<li><a href="html/nest/demo/vendor-dashboard.html">Vendor Dashboard</a></li>
								<li><a href="html/nest/demo/vendor-guide.html">Vendor Guide</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#">Mega menu</a>
							<ul class="dropdown">
								<li class="menu-item-has-children">
									<a href="#">Women's Fashion</a>
									<ul class="dropdown">
										<li><a href="html/nest/demo/shop-product-right.html">Dresses</a></li>
										<li><a href="html/nest/demo/shop-product-right.html">Blouses & Shirts</a></li>
										<li><a href="html/nest/demo/shop-product-right.html">Hoodies & Sweatshirts</a>
										</li>
										<li><a href="html/nest/demo/shop-product-right.html">Women's Sets</a></li>
									</ul>
								</li>
								<li class="menu-item-has-children">
									<a href="#">Men's Fashion</a>
									<ul class="dropdown">
										<li><a href="html/nest/demo/shop-product-right.html">Jackets</a></li>
										<li><a href="html/nest/demo/shop-product-right.html">Casual Faux Leather</a>
										</li>
										<li><a href="html/nest/demo/shop-product-right.html">Genuine Leather</a></li>
									</ul>
								</li>
								<li class="menu-item-has-children">
									<a href="#">Technology</a>
									<ul class="dropdown">
										<li><a href="html/nest/demo/shop-product-right.html">Gaming Laptops</a></li>
										<li><a href="html/nest/demo/shop-product-right.html">Ultraslim Laptops</a></li>
										<li><a href="html/nest/demo/shop-product-right.html">Tablets</a></li>
										<li><a href="html/nest/demo/shop-product-right.html">Laptop Accessories</a></li>
										<li><a href="html/nest/demo/shop-product-right.html">Tablet Accessories</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="html/nest/demo/blog-category-fullwidth.html">Blog</a>
							<ul class="dropdown">
								<li><a href="html/nest/demo/blog-category-grid.html">Blog Category Grid</a></li>
								<li><a href="html/nest/demo/blog-category-list.html">Blog Category List</a></li>
								<li><a href="html/nest/demo/blog-category-big.html">Blog Category Big</a></li>
								<li><a href="html/nest/demo/blog-category-fullwidth.html">Blog Category Wide</a></li>
								<li class="menu-item-has-children">
									<a href="#">Single Product Layout</a>
									<ul class="dropdown">
										<li><a href="html/nest/demo/blog-post-left.html">Left Sidebar</a></li>
										<li><a href="html/nest/demo/blog-post-right.html">Right Sidebar</a></li>
										<li><a href="html/nest/demo/blog-post-fullwidth.html">No Sidebar</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#">Pages</a>
							<ul class="dropdown">
								<li><a href="html/nest/demo/page-about.html">About Us</a></li>
								<li><a href="html/nest/demo/page-contact.html">Contact</a></li>
								<li><a href="{{ path('spygar_store_user_account') }}">My Account</a></li>
								<li><a href="html/nest/demo/page-login.html">Login</a></li>
								<li><a href="html/nest/demo/page-register.html">Register</a></li>
								<li><a href="html/nest/demo/page-purchase-guide.html">Purchase Guide</a></li>
								<li><a href="html/nest/demo/page-privacy-policy.html">Privacy Policy</a></li>
								<li><a href="html/nest/demo/page-terms.html">Terms of Service</a></li>
								<li><a href="html/nest/demo/page-404.html">404 Page</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#">Language</a>
							<ul class="dropdown">
								<li><a href="#">English</a></li>
								<li><a href="#">French</a></li>
								<li><a href="#">German</a></li>
								<li><a href="#">Spanish</a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<!-- mobile menu end -->
			</div>
			<div class="mobile-header-info-wrap">
				<div class="single-mobile-header-info">
					<a href="html/nest/demo/page-contact.html"><i class="fi-rs-marker"></i> Our location </a>
				</div>
				<div class="single-mobile-header-info">
					<a href="html/nest/demo/page-login.html"><i class="fi-rs-user"></i>Log In / Sign Up </a>
				</div>
				<div class="single-mobile-header-info">
					<a href="#"><i class="fi-rs-headphones"></i>(+01) - 2345 - 6789 </a>
				</div>
			</div>
			<div class="mobile-social-icon mb-50">
				<h6 class="mb-15">Follow Us</h6>
				<a href="#"><img src="{{ asset('bundles/store/imgs/theme/icons/icon-facebook-white.svg')}}" alt="" /></a>
				<a href="#"><img src="{{ asset('bundles/store/imgs/theme/icons/icon-twitter-white.svg')}}" alt="" /></a>
				<a href="#"><img src="{{ asset('bundles/store/imgs/theme/icons/icon-instagram-white.svg')}}" alt="" /></a>
				<a href="#"><img src="{{ asset('bundles/store/imgs/theme/icons/icon-pinterest-white.svg')}}" alt="" /></a>
				<a href="#"><img src="{{ asset('bundles/store/imgs/theme/icons/icon-youtube-white.svg')}}" alt="" /></a>
			</div>
			<div class="site-copyright">Copyright 2021 © Nest. All rights reserved. Powered by AliThemes.</div>
		</div>
	</div>
</div>